raw_data/*
checkpoints/*
trained_models/*
results/*
intermediate_files/*
logs/*
old_stuff/*
sbatch*.sh

*.log
*.log.*
*.err
*.err.*
*.out
*.out.*
*.h5ad
*.h5ad.gz
*.pt
*.pkl
*.csv

__pycache__/*
*.pyc